@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

.pokemon-list {
  padding: 10px;
  display: flex;
  width: 300px;
  justify-content: center;
  align-items: center;
  margin: auto;
}

#poke-boton {
  padding: 5px;
  display: flex;
  border: solid 1px;
  border-radius: 5px;
  width: 100px;
  justify-content: center;
  align-items: center;
  margin: auto;
  flex-wrap: wrap;
}

#poke-boton:hover {
  cursor: pointer;
}

.pokemon {
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

#poke-name {
  font-size: 25px;
  font-weight: bold;
}

.poke-img {
  width: 200px;
}

#shinyBtn:hover {
  cursor: pointer;
}

#leftBtn:hover {
  cursor: pointer;
}

#rightBtn:hover {
  cursor: pointer;
}

.hidden {
  display: none;
}

.btn {
  display: flex;
  flex-direction: row;
}

.gif {
  display: flex;
  justify-content: center;

  img {
    max-width: 500px;
    width: 100%;
    height: auto;
  }
}

.btns {
  display: flex;
  justify-content: center;
}