@import 'variables';

@mixin types {
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    min-width: 65px;
    color: $card-text;
    margin: 4px;
}

.type-zero {
    @include types;
}

.type-water {
    @include types;
    background-color: $water;
}

.type-fire {
    @include types;
    background-color: $fire;
}

.type-normal {
    @include types;
    background-color: $normal;
}

.type-fighting {
    @include types;
    background-color: $fighting;
}

.type-flying {
    @include types;
    background-color: $flying;
}

.type-poison {
    @include types;
    background-color: $poison;
}

.type-ground {
    @include types;
    background-color: $ground;
}

.type-rock {
    @include types;
    background-color: $rock;
}

.type-bug {
    @include types;
    background-color: $bug;
}

.type-ghost {
    @include types;
    background-color: $ghost;
}

.type-steel {
    @include types;
    background-color: $steel;
}

.type-grass {
    @include types;
    background-color: $grass;
}

.type-electric {
    @include types;
    background-color: $electric;
}

.type-psychic {
    @include types;
    background-color: $psychic;
}

.type-ice {
    @include types;
    background-color: $ice;
}

.type-dragon {
    @include types;
    background-color: $dragon;
}

.type-dark {
    @include types;
    background-color: $dark;
}

.type-fairy {
    @include types;
    background-color: $fairy;
}

.type-unknown {
    @include types;
    background-color: $unknown;
}