
$card-text: #ffffff;
$background: #262626;

$water:#718bf1;
$fire: #e28145;
$normal: #aca981;
$fighting: #bf3228;
$poison:#a042a3;
$ground: #e2c06b;
$flying:#a792ee;
$rock:#b6a038;
$bug:#aab922;
$ghost: #705a98;
$steel:#b7b8ce;
$grass: #79cb4f;
$electric: #f8d02e;
$psychic: #f55a86;
$ice: #9bd8d8;
$dragon: #6b3af8;
$dark: #705847;
$fairy:#ee9bae;
$unknown:#68a192;

