$fondonav: #02aaf7;
$highlight-nav: #3bcef8;
$shadow-nav: #0398d2;
$skyblue: #DEF7F8;
$yellow-borders: #f9f8a4;
$yellow-background: #f9f8c6;
$card-text: #ffffff;
$infoscreen-background: #0C1A57;
$background: #262626;

$water:#718bf1;
$fire: #e28145;
$normal: #aca981;
$fighting: #bf3228;
$poison:#a042a3;
$ground: #e2c06b;
$flying:#a792ee;
$rock:#b6a038;
$bug:#aab922;
$ghost: #705a98;
$steel:#b7b8ce;
$grass: #79cb4f;
$electric: #f8d02e;
$psychic: #f55a86;
$ice: #9bd8d8;
$dragon: #6b3af8;
$dark: #705847;
$fairy:#ee9bae;
$unknown:#68a192;
//$shadow:;

